/**
 * Footer
 * =================================
 * This is the scss for the footer.
 *
 *
 */
.footer-col ul li:hover {
  color: #ffffff;
  transition: 0.2s;
}

.section-title span{
  color: #909090;
}



