/**
 * Footer
 * =================================
 * This is the scss for the footer.
 *
 *
 */
.footer-col a:hover{
  color: #b1b1b1;
  transition: 0.2s;
}

.section-title span{
  color: #909090;
}
.footer-col li{
  font-size: 12px;
  padding-bottom: 10px;
}


