/**
 * Privacy Policy
 * =================================
 * This is the scss file for th Privacy Policy page.
 */

//Styles the titles
.privacy-policy h2{
  font-size: 25px;
  padding-top:50px;
}

//Styles the paragraphs
.privacy-policy p{
  padding-top: 10px;
}