/**
 * Release Page CSS
 * =================================
 * This is the CSS file for the Release Page.
 */

.release-profile {
  //bottom: 25%;
  //display: inline;
  //height:120px;
  //left: 50%;
  //position: absolute;
  //transform: translate(-50%, -50%);
  //width:120px;
  //height:120px;
}
.ytred {
  color:#FF0000;
}
.spotgreen{
  color: #1DB954;
}
.appred{
  color: #fc3c44;
}


