.error-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.error-page h1 {
  font-size: 30vh;
  font-weight: bold;
  padding: 0;
  position: relative;
}
.sorry {
  color: #5c5c5c;
}
.error-page h1:after {
  animation: animateTextBackground 10s ease-in-out infinite;
  /* webkit only for graceful degradation to IE */
  background: repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
  background-clip: text;
  background-size: 400%;
  color: transparent;
  content: attr(data-h1);
  left: 0;
  position: absolute;
  right: 0;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  top: 0;
}
.error-page h1 + p {
  color: #d6d6d6;
  font-size: 8vh;
  font-weight: bold;
  line-height: 10vh;
  max-width: 600px;
  position: relative;
}
.error-page h1 + p:after {
  background-clip: unset;
  color: transparent;
  content: attr(data-p);
  left: 0;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  top: 0;
}

@keyframes animateTextBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 767px) {
  .error-page h1 {
    font-size: 32vw;
  }
  .error-page h1 + p {
    font-size: 8vw;
    line-height: 10vw;
    max-width: 70vw;
    position: relative;
    left: 10px;
  }
}
.back {
  background: repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  padding: 15px 30px;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
}
.back:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
.button-404 {
  padding-bottom: 50px;
  padding-top: 50px;
}